[Unit]
Description=Mary Poppins Flask App

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python /home/jams/flask_mary/mary.py
Environment=PYTHONPATH=/home/jams/bin:$PYTHONPATH

[Install]
WantedBy=default.target
